button{
    margin: 2em;
    background-color: blue;
    color: white;
    
    border-radius: 5em;
    cursor: pointer;
}

button::selection
{
    display: none;
    background-color: transparent;
}

#action{
    align-items: center;
    font-size: xx-large;
    font-weight: 900;
}

#Card{
    background-color: rgb(216, 215, 214);
    flex-direction: column;
}

.btn
{
    margin: 3em;
}

.Title{
    margin: 1em  5em;
}